<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cozy-lofi-weather</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="hero">
        <a href="/weather"> <i class="fa-solid fa-cloud-sun"></i> Start App </a>
    </div>
    <div class="toast" id="toast">

        <button id="toast-close">
            <i class="fa-solid fa-xmark"></i>
        </button>
        <span id="toast-icon"></span>

        <span id="toast-message"></span>

    </div>
    <script src="../js/script.js"></script>
</body>

</html>